/* ---------------------------------------
------------------------------------------
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                          
                                          
                                        
                                       /$$
                                      | $$
  /$$$$$$           /$$$$$$$  /$$$$$$ | $$
 /$$__  $$ /$$$$$$ /$$_____/ /$$__  $$| $$
| $$$$$$$$|______/|  $$$$$$ | $$  \ $$| $$
| $$_____/         \____  $$| $$  | $$| $$
|  $$$$$$$         /$$$$$$$/|  $$$$$$/| $$
 \_______/        |_______/  \______/ |__/
                                          
                                          
                                           
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@ ---> modulos
............. login
............. seleccionar sucursal
............. checador
............. error 404
............. en mantenimiento
............. punto de venta
............. ticket
............. formato
------------------------------------------
--------------------------------------- */

/* ---------------------------------------
@@@@ modulos ---> login  
--------------------------------------- */
.login {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/bg/login.jpg");
    height: 100vh;
}
.login .formulario {
    display: block;
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(245,245,245,0.8);
}
.login .formulario .logo {
    display: block;
    width: 200px;
    margin: 0 auto 35px;
}
.login .form-group {
    margin: 18px 0;
}
.login .input-group-prepend {
    margin-right: -2px;
}
.login .form-control {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    height: calc(2.5rem + .75rem + 2px);
    border-left: 0;
    border-top: 2px solid var(--color-gris-claro);
    border-bottom: 2px solid var(--color-gris-claro);
    border-right: 2px solid var(--color-gris-claro);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.login .input-group-text {
    background-color: var(--color-blanco);
    border-right: 0;
    border-top: 2px solid var(--color-gris-claro);
    border-bottom: 2px solid var(--color-gris-claro);
    border-left: 2px solid var(--color-gris-claro);
    border-right: 2px solid var(--color-gris-claro);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.login .btn {
    display: block;
    font-weight: bold;
    color: var(--color-blanco);
    text-align: center;
    background-color: var(--color-azul);
    border-color: var(--color-azul);
    padding: 1rem 2.75rem;
}
.login .input-group img {
    width: 1rem;
}
.login .form-control::-webkit-input-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1!important;
    text-transform: capitalize;
}
.login .form-control:-moz-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1!important;
    text-transform: capitalize;
}
.login .form-control::-moz-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1!important;
    text-transform: capitalize;
}
.login .form-control:-ms-input-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1!important;
    text-transform: capitalize;
}
.login .form-control::-ms-input-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1!important;
    text-transform: capitalize;
}
.login .form-control::placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1!important;
    text-transform: capitalize;
}

/* ---------------------------------------
@@@@ modulos ---> seleccionar sucursal
--------------------------------------- */
.modulo-rh_seleccionar_sucursal {
    padding: 0!Important;
}
.modulo-rh_seleccionar_sucursal .header {
    background-color: var(--principal);
    padding: 35px 15px;
    color: var(--color-blanco);
    border-radius: 24px;
    margin-bottom: 30px;
}
.modulo-rh_seleccionar_sucursal .header .titulo {
    font-size: 2rem;
    font-weight: bold;
}
.modulo-rh_seleccionar_sucursal .caja .caja a {
    text-decoration: none;
}
.modulo-rh_seleccionar_sucursal .caja .caja img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.modulo-rh_seleccionar_sucursal .caja .caja h6 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px auto;
}
.modulo-rh_seleccionar_sucursal .caja .caja p {
    color: var(--color-negro);
}
.modulo-rh_seleccionar_sucursal .caja .caja p span {
    display: table;
    font-size: 1rem;
    padding: 12px 25px;
    margin: 0 auto;
}
/* ---------------------------------------
@@@@ modulos ---> checador
--------------------------------------- */
.modulo-rh_checador {

}
.modulo-rh_checador .form-control {
    border-color: var(--color-gris);
}
.modulo-rh_checador .caja-camara {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.modulo-rh_checador #realizarCapturaChecador {
    display: block;
    background-color: var(--principal);
    padding: 12px 24px;
    color: var(--color-blanco);
    border-radius: 12px;
    max-width: 250px;
    margin: 25px auto 0;
}
.modulo-rh_checador .btn-aceptar {
    width: 100%;
    max-width: 300px;
}
.modulo-rh_checador .row-logo img {
    max-width: 150px;
    width: 100%;
}
/* ---------------------------------------
@@@@ modulos ---> error 404  
--------------------------------------- */
.seccion__error404 {
    height: 100vh;
    text-align: center;
}
.seccion__error404 .titulo {
    font-size: 6.5rem;
    font-weight: 800;
    color: var(--principal);
    line-height: 1;
    margin-bottom: 0px;
}
.seccion__error404 p {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0;
}
/* ---------------------------------------
@@@@ modulos ---> en mantenimiento  
--------------------------------------- */
.seccion__mantenimiento {
    height: 100vh;
    text-align: center;
    background-color: var(--principal);
}
.seccion__mantenimiento .titulo {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--color-blanco);
    line-height: 1;
    margin-bottom: 10px;
}
.seccion__mantenimiento p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-gris-claro);
    line-height: 1;
    margin: 0;
}

/* ---------------------------------------
@@@@ modulos ---> punto de venta  
--------------------------------------- */
.modulo-puntodeventa {
    position: relative;
    padding: 0!important;
    background-color: var(--color-blanco);
}
.modulo-puntodeventa .grid {
    display: grid;
    /*
    grid-template-columns: 0.1fr 2fr 0.9fr;
    grid-template-areas: "puntoventa__buscador puntoventa__contenido puntoventa__carrito";
    */
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0em 15px;
    grid-auto-flow: row;
    grid-template-areas: "puntoventa__contenido puntoventa__carrito";
    width: 100%;
    height: 100vh;
}
.puntoventa__contenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 15px 0px;
    grid-auto-flow: row;
    grid-template-areas: "contenido__nav"
    "contenido__productos";
    grid-area: puntoventa__contenido;
    overflow-y: hidden;
    height: 100%;
}
.contenido__nav { 
    grid-area: contenido__nav; 
    color: var(--color-blanco);
    font-weight: bold;
    text-align: center;
    background-color: var(--principal);
}
.contenido__nav .row {
    margin: 0;
}
.contenido__nav .btn {
    padding: .35rem 1rem;
    font-size: .9rem;
}
.contenido__productos { 
    grid-area: contenido__productos;
    overflow-y: scroll;
    height: 100%;
}
.contenido__productos .row {
    margin: 0 8px;
}
.contenido__productos .col-md-3 {
    padding-left: 8px;
    padding-right: 8px;
}
.card-producto {
    cursor: pointer;
    text-align: center;
    border-radius: 0;
}
.puntoventa__carrito {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0 0px;
    grid-auto-flow: row;
    grid-template-areas: "carrito__tabs"
    "carrito__contenido";
    grid-area: puntoventa__carrito;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}
.carrito__tabs { 
    grid-area: carrito__tabs; 
    background-color: var(--principal);
}
.carrito__tabs h6 {
    color: var(--color-blanco);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}
.carrito__contenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "carrito__listado" "carrito__pago";
    grid-area: carrito__contenido;
    height: calc(100vh - 40px);
}
.carrito__listado { 
    grid-area: carrito__listado; 
    overflow-y: scroll;
    height: 100%;
    padding: 15px 15px 15px 0;
    background-color: var(--bg-principal-claro);
}
.carrito__pago {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "pago__resumen" "pago__botones";
    grid-area: carrito__pago; 
}
.pago__resumen {
    grid-area: pago__resumen;
    background-color: var(--principal);
}
.pago__resumen .table tr > td:last-child, .pago__resumen .table tr > th:last-child, .pago__resumen .table tr > td:first-child, .pago__resumen .table tr > th:first-child {
    border-radius: 0;
}
.pago__resumen .table tbody th, .pago__resumen .table tbody td {
    color: var(--color-blanco);
    padding: 1rem 1rem;
    background-color: transparent;
}
.pago__resumen .table .text-right {
    font-weight: bold;
}
.pago__botones {
    grid-area: pago__botones;
}
.pago__botones .div--botones {
    
}
.pago__botones .btn {
    font-size: 1rem;
    border-radius: 0;
    width: 100%;
    color: var(--color-blanco)!important;
    border-color: var(--color-azul);
    background-color: var(--color-azul);
}
.pago__botones .btn.btn--cancelar {
    color: var(--color-blanco)!important;
    border-color: var(--color-rojo);
    background-color: var(--color-rojo);
}
.pago__botones .btn.btn--pagar {
    color: var(--color-blanco)!important;
    border-color: var(--color-verde);
    background-color: var(--color-verde);
}
.modulo-puntodeventa .card-img-top {
    border-radius: 0;
    object-fit: cover;
}
.modulo-puntodeventa .card-body {
    padding: 1.25rem .25rem;
}
.carrito__listado .carrito__producto .card-img-top {
    width: 100%;
    height: 100%;
}
.carrito__listado .carrito__producto {
    padding: 0 0 0;
    margin-bottom: 20px;
    background-color: var(--color-blanco);
    border-bottom: 1px solid var(--bg-principal-claro);
}
.carrito__producto p {
    font-size: .8rem;
    margin-bottom: 3px;
}
/* ### - [carrito__listado] carrito__producto ---> .btn   - @@@@ */
.btn__masmenos .btn {
    padding: 0;
    height: 24px;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-size: 12px auto;
    background-color: var(--color-negro);
}
.btn__masmenos .btn-menos:hover, .btn__masmenos .btn-menos:focus, .btn__masmenos .btn-menos:active,
.btn__masmenos .btn-mas:hover, .btn__masmenos .btn-mas:focus, .btn__masmenos .btn-mas:active {
    background-color: var(--color-negro);
}
.btn__masmenos .form-control {
    text-align: center;
    width: 100%;
    height: 24px;
    padding: 3px;
    border-radius: 0;
    border: 1px solid var(--color-negro);
}
.carrito__producto .btn.btn-icono {
    width: 20px!important;
    height: 100%;
    padding: 0px!important;
    border-radius: 0px;
    background-size: auto 1rem;
}

/* ---------------------------------------
@@@@ modulos ---> ticket  
--------------------------------------- */
.seccion__ticket {
    max-width: 7.5cm;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    background-color: var(--color-blanco);
}
.seccion__ticket .img-thumbnail {
    display: block;
    border: 0;
    padding: 0;
    margin: 15px auto 25px;
}
.seccion__ticket h4 {
    font-weight: bold;
    text-align: center;
}
.seccion__ticket .table tbody tr:last-child td {
    border-bottom: 1px solid var(--color-negro);
}
.seccion__ticket .table thead th,
.seccion__ticket .table thead td {
    color: var(--color-blanco)!important;
    border-color: var(--principal)!important;
    background-color: var(--principal)!important;
}
.seccion__ticket .table tfoot th,
.seccion__ticket .table tfoot td,
.seccion__ticket .table tbody th,
.seccion__ticket .table tbody td,
.seccion__ticket .table thead th,
.seccion__ticket .table thead td {
    font-size: .8rem;
    padding: .8rem 0.35rem!important;
    border-radius: 0!important;
}
.seccion__ticket .table tbody tr td, 
.seccion__ticket .table tbody tr th, 
.seccion__ticket .table tbody tr:nth-of-type(even) td, 
.seccion__ticket .table tbody tr:nth-of-type(even) th {
   background-color: transparent;
    border-radius: 0!important;
}
.seccion__ticket .btn {
    font-family: 'Roboto';
}
.seccion__ticket .table tbody tr .th_cita{
    padding:0!important;
    border: none!important;
    border: 1px solid black!important;
}
.seccion__ticket .table tbody tr .td_cita{
    padding:0.2rem!important;
    border: none!important;
    font-size:11px; 
}

.seccion__ticket .informacion_empresa{
    font-size:11px; 
    line-height: 0px;
    padding: 0;
    /* margin: 12px; */
}

/* ---------------------------------------
@@@@ modulos ---> formato  
--------------------------------------- */
.seccion__formato .table thead th {
}
.seccion__formato .table tbody td {
    border-radius: 0!important;
    border-bottom: 1px solid var(--color-gris);
}
.seccion__formato .table tfoot th {
    color: var(--principal);
    background-color: transparent;
}
.seccion__formato .estilo--campo {
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(159, 170, 190, 0.05);
}

/* ---------------------------------------
@@@@ modulos ---> faq  
--------------------------------------- */
.seccion__faq .jumbotron {
    background-color: var(--principal);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.seccion__faq .jumbotron form {
    max-width: 661px;
    margin: 0 auto;
}
.seccion__faq .caja.mt-0 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2rem;
}

/* ---------------------------------------
@@@@ modulos ---> USUARIOS  
--------------------------------------- */
.cedula_usuario{
    cursor:pointer;
    color:var(--color-azul);
    text-decoration:underline;
}

/* ---------------------------------------
@@@@ modulos ---> Calendario citas  
--------------------------------------- */
.color_mostrar{
    height: 35px;
    width: 200px;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    color:white;
}

.div_radio_button{
    margin-left: 1.5rem;
}

/* ---------------------------------------
@@@@ modulos ---> Inventario  
--------------------------------------- */
.img-producto{
    height: 200px;
    width: 200px;
}

.seccion__codigo_barras {
    max-width: 7.5cm;
    max-height: 5cm;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    background-color: var(--color-blanco);
}

/* ---------------------------------------
@@@@ modulos ---> contable_nueva_compra  
--------------------------------------- */

#tablaProductosCompra tfoot tr th{
    height: 10px;
    padding: 5px;
}



/* ---------------------------------------
@@@@ modulos ---> contable_cuentas_por_pagar  
--------------------------------------- */
.input_pagar_gasto{
    width: 140px;
}

.span_total_pago{
    padding: 10px;
    border: 1px solid black;
}

tr.gasto_pendiente td{
    padding: 0.5rem!important;
    margin: 0!important;
}

tbody#tbody_gastos_pendientes_proveedor{
    height:100px!important;
    overflow-y:auto!important;
    width: 100%!important;
}

.table.thin tbody tr td,.table.thin thead tr th{
    height: 10px!important;
    padding: 1px!important;
}

/* ---------------------------------------
@@@@ modulos ---> admin_calendario  
--------------------------------------- */
.fc-agendaWeek-view tr {
    height: 60px;
    font-size: 14px;
}

.fc-agendaDay-view tr {
    height: 60px;
}

/* .slot-attributes {
    left: 4px !important;
    right: 3px !important;
    height: 15px !important;
    margin-right: 0 !important;
} */

/* ---------------------------------------
@@@@ modulos ---> procesos_casos
--------------------------------------- */
#tabla_ingreso_hotel tbody td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: transparent!important;
    text-align: center;
}

#imagen_fondo_tabla{
    /* background-repeat: no-repeat;
    background-position: center; */
    background-size: 40% 70%;
    opacity: .3;
}



.div_tabla #div_imagen{
   /* transform:translate(22%,45%); */
   left: 24%;
   
   top: 30%;
}

#notas{
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.1);
}

#tabla_ingreso_hotel th {
    text-align: center;
}

#tabla_ingreso_hotel tbody th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: transparent!important;
    text-align: center;
}

#tabla_ingreso_hotel {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.img_fondo {
    background-size: 100% 100%;
    opacity: 0.3;
}

#div_img_fondo {
    text-align: center;
    align-items: center;
    position:relative;
    justify-content: center;
    height: auto;
}


.texto_contenido_con_imagen{
    justify-content: center;
    text-align: justify;
    width: 85%;
    padding: 20px;
    position:absolute;
    /* max-height: max-content; */
    color: black;

}

.texto_contenido{
    justify-content: center;
    color: black;
}

#texto_con_linea {
    display: flex;
    /* margin-top: 30px; */
    width: 100%;
    color: black;
}

#texto_con_linea label{
    color: black;
}


#linea_de_texto_entrada {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 100%;
    background: transparent;
}

#div_linea_de_texto_salida {
    background: transparent;
    width:92%;
}

#div_texto_despues_linea{
    background: transparent;
    width: 10%;
    text-align: center;
    padding-right: 0px!important;
    padding-left: 0px!important;
    margin: 0px;
    
}

#linea_de_texto_salida {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background: transparent;
    width: 100%;
    /* padding-right: 100px; */
}

.linea_de_texto {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: 1px solid black!important;
    background: transparent!important;
    /* width: 25%!important; */
    border-radius:0!important;
    height: 1.4rem!important;
    /* padding-right: 100px; */
}


#linea_de_texto {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 38%;
    background: transparent;
    margin-bottom: 14px;
}

.borde_columnas {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    /* border-left: 1px solid rgba(0, 0, 0, 0.1); */
}

 .texto_contenido_con_imagen ul li{
    padding-bottom: 20px;
    padding-top: 10px;
}

.servicios_hotel{
    height: 40px;
    /* height: max-content; */
    align-items: center!important;
}

.nav-tabs .nav-item .nav-link{
    color: var(--principal);
}

.nav-tabs .nav-item .nav-link.active{
    color: var(--color-blanco);
    background-color: var(--principal);
}


/* ---------------------------------------
@@@@ modulos ---> formatos  
--------------------------------------- */

.texto-formato{
    font-size: 14px;
}

.btn.btn-icono.btn-label::before {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 100%;
    margin: auto 0 auto 0;
    padding: 5px 10px;
    border-radius: 3px;
    height: 100%;
    width: 5rem;
    font-size: .8rem;
    z-index: -2;
    opacity: 0;
    color:white;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.btn.btn-icono.btn-label:hover::before {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.btn-editar.btn-label::before {
    content: 'Editar';
    background-color: var(--color-azul);
}

.btn-board.btn-label::before{
    content: 'Resumen';
    background-color: var(--color-azul-marino);
}

.btn-eliminar.btn-label::before{
    content: 'Eliminar';
    background-color: var(--color-rojo-oscuro);
}
.btn-aceptar.btn-label{
    background-color: var(--color-verde);
    border-color: var(--color-verde);
}
.btn-aceptar.btn-label::before{
    content: 'Dar de alta';
    background-color: var(--color-verde);
}
.btn-mas.btn-label.aplicar_medicamento_hospitalizacion::before{
    content: 'Aplicar dosis';
    background-color: var(--color-verde);
}

.btn-duplicar.btn-label.extender_medicamento_hospitalizacion::before,.btn-duplicar.btn-label.extender_medicamento_hotel::before{
    content: 'Duplicar';
    background-color: var(--color-gris);
}

.btn-menos.btn-label.borrar_dosis_medicamento_hospitalizacion::before {
    content: 'E. dosis';
    background-color: var(--color-rojo-oscuro);
}

.btn-eliminar.btn-label.borrar_dosis_actual_medicamento_hospitalizacion::before {
    content: 'Eliminar dosis';
}

.aplicar_medicamento_hospitalizacion{
    width: 40px!important;
    height:40px!important;

}


.table tbody tr.bg-warning td{
    background-color: var(--warning)!important;
}

#tabla_pacientes_cliente_fiscal thead tr th,
#tabla_pacientes_cliente_fiscal tbody tr td{
    padding: .5rem!important;
}

#tabla_pacientes_cliente_fiscal tbody{
    display:block;
    max-height:100px;
    overflow:auto;
}

#tabla_pacientes_cliente_fiscal thead,#tabla_pacientes_cliente_fiscal tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

#tabla_adeudos_cliente_fiscal thead tr th,
#tabla_adeudos_cliente_fiscal tbody tr td{
    padding: .5rem!important;
}

#tabla_adeudos_cliente_fiscal tbody{
    display:block;
    max-height:100px;
    overflow:auto;
}

#tabla_adeudos_cliente_fiscal thead,#tabla_adeudos_cliente_fiscal tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

#tablaItemsDocumentoVenta thead tr th,
#tablaItemsDocumentoVenta tbody tr td{
    padding: .5rem!important;
}

#tablaItemsDocumentoVenta input,
#tablaItemsDocumentoVenta select{
    height: 2.5rem !important;
}

.table tbody tr.bg-danger td{
    background-color: #ff585b!important;
    color: white!important;
}

.table tbody tr.bg-warning td{
    background-color: #ff9949!important;
    color: white!important;
}

.btn.extender_medicamento_hospitalizacion,.btn.extender_medicamento_hotel{
    width: 35px!important;
    height: 35px!important;
}

.btn.eliminar_medicamento_hospitalizacion,.btn.eliminar_medicamento_hotel{
    width: 35px!important;
    height: 35px!important;
}

.btn.borrar_dosis_medicamento_hospitalizacion {
    width: 35px!important;
    height: 35px!important;
    border-color: var(--color-rojo-oscuro) !important;
    background-color: var(--color-rojo-oscuro) !important;
}

.btn.borrar_dosis_actual_medicamento_hospitalizacion {
    width: 40px!important;
    height: 40px!important;
}

.table.slim thead tr th,
.table.slim tbody tr td,
.table.slim tfoot tr th
{
    padding: .5rem!important;
}

.table.slim input{
    height: 1.85rem!important;
}

.table.slim .btn-icono{
    height: 1.5rem!important;
    width: 1.5rem!important;
}

#modal_formas_pago_documento_venta .card-title{
    font-size: 18px;
}

.modulo_pos{
    height: 100%;
}

#agregar_item_venta{
    height: 2rem!important;
    width: 2rem!important;
}

.modulo-ventas_punto_venta .select2-selection__rendered {
    line-height: 31px !important;
}
.modulo-ventas_punto_venta .select2-container .select2-selection--single {
    height: 35px !important;
}
.modulo-ventas_punto_venta .select2-selection__arrow {
    height: 34px !important;
}

.btn_modulo_pos{
    height: 2.5rem;
    padding: .5rem 1rem 1rem 1rem!important;
}

.contenedor_filtros_pos{
    height: 10vh;
    overflow-y: auto;
    overflow-x: none;
    line-height: 13pt;

}

.filtro_pos{
    cursor: pointer;
    font-size: 14px;
}

.filtro_pos.active{
    color:blue;
}

.filtro_pos:hover{
    text-decoration: underline;
}

.paginacion_productos_pos{
    padding: .5rem!important;
}

#pie_punto_venta{
    /* position:absolute; */
    /* bottom: 0; */
    /* height: 20vh; */
    padding: .5rem;
    border: 1px solid black;
    background-color:var(--principal);
    color:white;
    border-radius: 15px;
}

#pie_punto_venta label{
    color: white;
}

#pie_punto_venta .alert{
    padding: .5rem!important;
}

#pie_punto_venta .btn-icono{
    height: 2rem!important;
    width: 2rem!important;
}

#total_venta{
    font-size: 40px;
}

#faltante_venta, #cambio_venta{
    font-size: 20px;
}

#saldo_favor_venta{
    font-size: 18px;
}

.producto_pos{
    padding: .5rem;
    margin: .2rem;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.descripcion_producto_pos{
    padding: 0;
}
.img_producto_pos{
    padding: 0;
}
.img_producto_pos img{
    height: 8vh;
    width: 8vh;
}

.tabla_pos tbody{
    display:block;
    max-height:30vh;
    overflow:auto;
}

.tabla_pos thead,.tabla_pos tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

#formas_pago_venta tbody{
    display:block;
    max-height:10vh;
    overflow:auto;
}

#formas_pago_venta thead,#formas_pago_venta tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

#formas_pago_venta thead tr th{
    background-color: var(--color-gris-oscuro);
}

#formas_pago_venta tbody tr td{
    background-color: white;
}

/* Chrome, Safari, Edge, Opera */
#cantidad_producto_venta::-webkit-outer-spin-button,
#cantidad_producto_venta::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#cantidad_producto_venta {
  -moz-appearance: textfield;
}

.facturar_venta,.cancelar_factura_venta{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#mostrar_informacion_cliente_caso,#mostrar_historial_casos_mascota{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: none;
}

#seleccionar_ventas_factura_global{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* color texto saldo de proveedores detallado*/

#div_saldos_proveedores_detallado tbody th, #div_saldos_proveedores_detallado tbody td{
    color: var(--color-negro);
    font-size: medium;
}

#impresion_historial_procesos_cirugia_pagados, #div_saldos_proveedores_detallado{
    font-size: medium;
}

/* Estilo lista de espera */

#calendarioListaEspera, #calendarioCitasAtendidas {
	height: 400px;
	width: 200px;
	overflow-y: scroll;
}

.btn_registros_listaEspera{
    border-style: bold;
    border-width: 1px;
    border-radius: 4px;
    height: auto;
    width: 100%;
    opacity: 80%;
    text-align: left;
    
}
.registroCaja{
    margin: 10px;
}

.texto {
    color: #fff;
}

/*  estilo impresion de compras  */

#tablaImprimirCompras tr td {
    width: 75%;
}

#tablaImprimirCompras tr td div label{
    font-size:x-large;
}

#tbody_productos_compraImpresion tr td{
    font-size:140%;
}
#tfoot_productos_compraImpresion tr th{
    font-size:140%;
}
#label_cambio_sucursal{
    color: white;
}

#select_cambio_sucursal{
    height: 2rem!important;
    width: 80%;
    display:inline;
    margin-bottom: .25rem;
    font-size: 12px;
}

.extender_cierre_caso{
    cursor: pointer;
}

/* ---------------------------------------
@@@@ media-queries
--------------------------------------- */
@media (min-width: 1367px) {
    /* ---------------------------------------
    @@@@ punto de venta
    --------------------------------------- */
    .carrito__producto p {
        font-size: 1rem;
    }
    .pago__resumen .table tbody th, .pago__resumen .table tbody td {
        font-size: 1rem;
    }
    .carrito__producto .btn.btn-icono {
        width: 100%!important;
    }
}

@media (min-width: 768px) {
    .modulo-rh_checador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
    }
}
@media (max-width: 767px) {
    /* ---------------------------------------
    @@@@ en mantenimiento
    --------------------------------------- */
    .seccion__mantenimiento .titulo {
        font-size: 2.5rem;
    }
    .seccion__mantenimiento p {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .modulo-rh_checador .row-logo img {
        max-width: 150px;
        width: 100%;
    }
    .modulo-rh_checador #imagenChecador {
        max-width: 120px;
        width: 100%;
        margin-bottom: 15px;
    }
    .modulo-rh_checador .caja-camara #imagenCamaraChecador,
    .modulo-rh_checador .caja-camara video,
    .modulo-rh_checador .caja-camara .col-md-6 {
        width: 100%!important;
    }
}
@media print {
    /* ---------------------------------------
    @@@@ ticket
    --------------------------------------- */
    .seccion__ticket {
        max-width: 100%;
        padding: 0;
    }
    .seccion__ticket * {
        font-size: 8pt;
    }
    .seccion__ticket h4 {
        font-size: 10pt;
    }
    .seccion__ticket .row {
        margin: 0;
    }
    .seccion__ticket .table tfoot th, .seccion__ticket .table tfoot td, .seccion__ticket .table thead th, .seccion__ticket .table thead td {
        background-color: var(--color-negro)!important;
        border-color: var(--color-negro)!important;
        border-radius: 0!important;
    }
    .seccion__ticket .table tfoot th, .seccion__ticket .table tfoot td, .seccion__ticket .table thead th, .seccion__ticket .table thead td {
        font-size: 8pt;
        padding: .85rem 0.35rem;
    }
    .seccion__ticket .table tbody th, .seccion__ticket .table tbody td {
        font-size: 8pt;
        color: var(--color-negro);
        padding: .65rem 0.35rem;
    }
}