@font-face {
  font-family: 'mirai-icofonts';
  src:
    url('fonts/mirai-icofonts.ttf?axa2jz') format('truetype'),
    url('fonts/mirai-icofonts.woff?axa2jz') format('woff'),
    url('fonts/mirai-icofonts.svg?axa2jz#mirai-icofonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="micon-"], [class*=" micon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mirai-icofonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.micon-arrow08-d:before {
  content: "\ebac";
}
.micon-arrow08-l:before {
  content: "\ebad";
}
.micon-arrow08-r:before {
  content: "\ebae";
}
.micon-arrow08-u:before {
  content: "\ebaf";
}
.micon-arrow09-d:before {
  content: "\ebb0";
}
.micon-arrow09-l:before {
  content: "\ebb1";
}
.micon-arrow09-r:before {
  content: "\ebb2";
}
.micon-arrow09-u:before {
  content: "\ebb3";
}
.micon-arrow10-d:before {
  content: "\ebb4";
}
.micon-arrow10-l:before {
  content: "\ebb5";
}
.micon-arrow10-r:before {
  content: "\ebb6";
}
.micon-arrow10-u:before {
  content: "\ebb7";
}
.micon-arrow11-d:before {
  content: "\ebb8";
}
.micon-arrow11-l:before {
  content: "\ebb9";
}
.micon-arrow11-r:before {
  content: "\ebba";
}
.micon-arrow11-u:before {
  content: "\ebbb";
}
.micon-baby03:before {
  content: "\ebbc";
}
.micon-baby04:before {
  content: "\ebbd";
}
.micon-back-arrow02:before {
  content: "\ebbe";
}
.micon-best-price09:before {
  content: "\ebbf";
}
.micon-best-price10:before {
  content: "\ebc0";
}
.micon-best-price11:before {
  content: "\ebc1";
}
.micon-breakfast07:before {
  content: "\ebc2";
}
.micon-call-center01:before {
  content: "\ebc3";
}
.micon-call-center02:before {
  content: "\ebc4";
}
.micon-electric-car01:before {
  content: "\ebc5";
}
.micon-electric-car02:before {
  content: "\ebc6";
}
.micon-electric-car03:before {
  content: "\ebc7";
}
.micon-electric-car04:before {
  content: "\ebc8";
}
.micon-electric-car05:before {
  content: "\ebc9";
}
.micon-electric-car06:before {
  content: "\ebca";
}
.micon-electric-car07:before {
  content: "\ebcb";
}
.micon-forward-arrow01:before {
  content: "\ebcc";
}
.micon-forward-arrow02:before {
  content: "\ebcd";
}
.micon-medical05:before {
  content: "\ebce";
}
.micon-medical06:before {
  content: "\ebcf";
}
.micon-medical07:before {
  content: "\ebd0";
}
.micon-linkedin02:before {
  content: "\ebd1";
}
.micon-mouse01:before {
  content: "\ebd2";
}
.micon-mouse02:before {
  content: "\ebd3";
}
.micon-mouse03:before {
  content: "\ebd4";
}
.micon-organization01:before {
  content: "\ebd5";
}
.micon-parking12:before {
  content: "\ebd6";
}
.micon-parking13:before {
  content: "\ebd7";
}
.micon-parking14:before {
  content: "\ebd8";
}
.micon-personal05:before {
  content: "\ebd9";
}
.micon-restaurant10:before {
  content: "\ebda";
}
.micon-restaurant11:before {
  content: "\ebdb";
}
.micon-scroll01:before {
  content: "\ebdc";
}
.micon-scroll02:before {
  content: "\ebdd";
}
.micon-spotify01:before {
  content: "\ebde";
}
.micon-spotify02:before {
  content: "\ebdf";
}
.micon-television03:before {
  content: "\ebe0";
}
.micon-whatsapp02:before {
  content: "\ebe1";
}
.micon-clock10:before {
  content: "\ebab";
}
.micon-newspaper04:before {
  content: "\eba2";
}
.micon-newspaper03:before {
  content: "\eba3";
}
.micon-newspaper02:before {
  content: "\eba4";
}
.micon-newspaper01:before {
  content: "\eba5";
}
.micon-cot02:before {
  content: "\eba6";
}
.micon-clock09:before {
  content: "\eba7";
}
.micon-cot01:before {
  content: "\eba8";
}
.micon-cot03:before {
  content: "\eba9";
}
.micon-cot04:before {
  content: "\ebaa";
}
.micon-food03:before {
  content: "\eb92";
}
.micon-safe-box02:before {
  content: "\eb93";
}
.micon-wellness05:before {
  content: "\eb94";
}
.micon-wellness06:before {
  content: "\eb95";
}
.micon-environment01:before {
  content: "\eb96";
}
.micon-environment02:before {
  content: "\eb97";
}
.micon-exchange01:before {
  content: "\eb98";
}
.micon-exchange02:before {
  content: "\eb99";
}
.micon-golf01:before {
  content: "\eb9a";
}
.micon-golf02:before {
  content: "\eb9b";
}
.micon-medical01:before {
  content: "\eb9c";
}
.micon-medical02:before {
  content: "\eb9d";
}
.micon-medical03:before {
  content: "\eb9e";
}
.micon-medical04:before {
  content: "\eb9f";
}
.micon-water-slide01:before {
  content: "\eba0";
}
.micon-water-slide02:before {
  content: "\eba1";
}
.micon-crown02:before {
  content: "\eb69";
}
.micon-wise-man01:before {
  content: "\eb6a";
}
.micon-christmas-tree01:before {
  content: "\eb6b";
}
.micon-party01:before {
  content: "\eb6c";
}
.micon-party02:before {
  content: "\eb6d";
}
.micon-santa01:before {
  content: "\eb6e";
}
.micon-wise-man03:before {
  content: "\eb6f";
}
.micon-wise-man02:before {
  content: "\eb70";
}
.micon-snowflake01:before {
  content: "\eb71";
}
.micon-snowflake02:before {
  content: "\eb72";
}
.micon-ball-tree01:before {
  content: "\eb73";
}
.micon-holly01:before {
  content: "\eb74";
}
.micon-candy01:before {
  content: "\eb75";
}
.micon-rudolph01:before {
  content: "\eb76";
}
.micon-crown01:before {
  content: "\eb77";
}
.micon-christmas-tree02:before {
  content: "\eb78";
}
.micon-christmas-tree03:before {
  content: "\eb79";
}
.micon-christmas-tree04:before {
  content: "\eb7a";
}
.micon-candle02:before {
  content: "\eb7b";
}
.micon-dove-peace01:before {
  content: "\eb7c";
}
.micon-christ01:before {
  content: "\eb7d";
}
.micon-candle01:before {
  content: "\eb7e";
}
.micon-witch02:before {
  content: "\eb7f";
}
.micon-pumpkin01:before {
  content: "\eb80";
}
.micon-pumpkin02:before {
  content: "\eb81";
}
.micon-witch01:before {
  content: "\eb82";
}
.micon-ghost02:before {
  content: "\eb83";
}
.micon-ghost01:before {
  content: "\eb84";
}
.micon-heart02:before {
  content: "\eb85";
}
.micon-heart04:before {
  content: "\eb86";
}
.micon-heart03:before {
  content: "\eb87";
}
.micon-rose02:before {
  content: "\eb88";
}
.micon-heart01:before {
  content: "\eb89";
}
.micon-rose01:before {
  content: "\eb8a";
}
.micon-cheers01:before {
  content: "\eb8b";
}
.micon-cheers02:before {
  content: "\eb8c";
}
.micon-cheers03:before {
  content: "\eb8d";
}
.micon-cheers04:before {
  content: "\eb8e";
}
.micon-best-price08:before {
  content: "\eb8f";
}
.micon-google-play01:before {
  content: "\eb90";
}
.micon-apple01:before {
  content: "\eb91";
}
.micon-vip01:before {
  content: "\eb66";
}
.micon-vip02:before {
  content: "\eb67";
}
.micon-vip03:before {
  content: "\eb68";
}
.micon-area01:before {
  content: "\eb34";
}
.micon-area02:before {
  content: "\eb35";
}
.micon-banquete01:before {
  content: "\eb36";
}
.micon-banquete02:before {
  content: "\eb37";
}
.micon-cabaret01:before {
  content: "\eb38";
}
.micon-cabaret02:before {
  content: "\eb39";
}
.micon-coctel01:before {
  content: "\eb3a";
}
.micon-coctel02:before {
  content: "\eb3b";
}
.micon-deskchair01:before {
  content: "\eb3c";
}
.micon-deskchair02:before {
  content: "\eb3d";
}
.micon-dimension01:before {
  content: "\eb3e";
}
.micon-dimension02:before {
  content: "\eb3f";
}
.micon-divided01:before {
  content: "\eb40";
}
.micon-divided02:before {
  content: "\eb41";
}
.micon-enu01:before {
  content: "\eb42";
}
.micon-enu02:before {
  content: "\eb43";
}
.micon-escuela01:before {
  content: "\eb44";
}
.micon-escuela02:before {
  content: "\eb45";
}
.micon-height01:before {
  content: "\eb46";
}
.micon-height02:before {
  content: "\eb47";
}
.micon-imperial01:before {
  content: "\eb48";
}
.micon-imperial02:before {
  content: "\eb49";
}
.micon-teatro01:before {
  content: "\eb4a";
}
.micon-teatro02:before {
  content: "\eb4b";
}
.micon-width01:before {
  content: "\eb4c";
}
.micon-width02:before {
  content: "\eb4d";
}
.micon-blogger01:before {
  content: "\eb4e";
}
.micon-blogger02:before {
  content: "\eb4f";
}
.micon-facebook01:before {
  content: "\eb50";
}
.micon-facebook02:before {
  content: "\eb51";
}
.micon-flickr01:before {
  content: "\eb52";
}
.micon-flickr02:before {
  content: "\eb53";
}
.micon-google-photos01:before {
  content: "\eb54";
}
.micon-google-photos02:before {
  content: "\eb55";
}
.micon-google-plus01:before {
  content: "\eb56";
}
.micon-instagram01:before {
  content: "\eb57";
}
.micon-linkedin01:before {
  content: "\eb58";
}
.micon-pinterest01:before {
  content: "\eb59";
}
.micon-pinterest02:before {
  content: "\eb5a";
}
.micon-rss01:before {
  content: "\eb5b";
}
.micon-skype01:before {
  content: "\eb5c";
}
.micon-skype02:before {
  content: "\eb5d";
}
.micon-twitter01:before {
  content: "\eb5e";
}
.micon-twitter02:before {
  content: "\eb5f";
}
.micon-vk01:before {
  content: "\eb60";
}
.micon-vk02:before {
  content: "\eb61";
}
.micon-wordpress01:before {
  content: "\eb62";
}
.micon-wordpress02:before {
  content: "\eb63";
}
.micon-youtube01:before {
  content: "\eb64";
}
.micon-youtube02:before {
  content: "\eb65";
}
.micon-personal04:before {
  content: "\eb01";
}
.micon-towel01:before {
  content: "\eb02";
}
.micon-television01:before {
  content: "\eb03";
}
.micon-television02:before {
  content: "\eb04";
}
.micon-tablet01:before {
  content: "\eb05";
}
.micon-smartphone01:before {
  content: "\eb06";
}
.micon-smartphone02:before {
  content: "\eb07";
}
.micon-safe-box01:before {
  content: "\eb08";
}
.micon-pillow01:before {
  content: "\eb09";
}
.micon-pillow02:before {
  content: "\eb0a";
}
.micon-dont-smoke01:before {
  content: "\eb0b";
}
.micon-dont-smoke02:before {
  content: "\eb0c";
}
.micon-minibar01:before {
  content: "\eb0d";
}
.micon-minibar02:before {
  content: "\eb0e";
}
.micon-virtual-tour01:before {
  content: "\eb0f";
}
.micon-virtual-tour02:before {
  content: "\eb10";
}
.micon-briefcase01:before {
  content: "\eb11";
}
.micon-briefcase02:before {
  content: "\eb12";
}
.micon-shower01:before {
  content: "\eb13";
}
.micon-shower02:before {
  content: "\eb14";
}
.micon-library01:before {
  content: "\eb15";
}
.micon-library02:before {
  content: "\eb16";
}
.micon-library03:before {
  content: "\eb17";
}
.micon-search-glass01:before {
  content: "\eb18";
}
.micon-back-arrow01:before {
  content: "\eb19";
}
.micon-bullet01:before {
  content: "\eb1a";
}
.micon-terrace05:before {
  content: "\eb1b";
}
.micon-webcam02:before {
  content: "\eb1c";
}
.micon-webcam03:before {
  content: "\eb1d";
}
.micon-webcam01:before {
  content: "\eb1e";
}
.micon-garden01:before {
  content: "\eb1f";
}
.micon-garden02:before {
  content: "\eb20";
}
.micon-garden03:before {
  content: "\eb21";
}
.micon-garden04:before {
  content: "\eb22";
}
.micon-location10:before {
  content: "\eb23";
}
.micon-whatsapp01:before {
  content: "\eb24";
}
.micon-arrow07-r:before {
  content: "\eb25";
}
.micon-arrow07-u:before {
  content: "\eb26";
}
.micon-arrow07-d:before {
  content: "\eb27";
}
.micon-arrow07-l:before {
  content: "\eb28";
}
.micon-wine01:before {
  content: "\eb29";
}
.micon-wine02:before {
  content: "\eb2a";
}
.micon-wine03:before {
  content: "\eb2b";
}
.micon-ship01:before {
  content: "\eb2c";
}
.micon-ship02:before {
  content: "\eb2d";
}
.micon-ship03:before {
  content: "\eb2e";
}
.micon-ship04:before {
  content: "\eb2f";
}
.micon-airport02:before {
  content: "\eb30";
}
.micon-airport01:before {
  content: "\eb31";
}
.micon-food01:before {
  content: "\eb32";
}
.micon-food02:before {
  content: "\eb33";
}
.micon-wifi01:before {
  content: "\e9e3";
}
.micon-wifi02:before {
  content: "\e9e4";
}
.micon-wifi03:before {
  content: "\e9e5";
}
.micon-wifi04:before {
  content: "\e9e6";
}
.micon-wifi05:before {
  content: "\e9e7";
}
.micon-wifi06:before {
  content: "\e9e8";
}
.micon-wifi07:before {
  content: "\e9e9";
}
.micon-wifi08:before {
  content: "\e9ea";
}
.micon-jacuzzi01:before {
  content: "\e9eb";
}
.micon-massage01:before {
  content: "\e9ec";
}
.micon-massage02:before {
  content: "\e9ed";
}
.micon-massage03:before {
  content: "\e9ee";
}
.micon-massage04:before {
  content: "\e9ef";
}
.micon-sauna01:before {
  content: "\e9f0";
}
.micon-sauna02:before {
  content: "\e9f1";
}
.micon-sauna03:before {
  content: "\e9f2";
}
.micon-sauna04:before {
  content: "\e9f3";
}
.micon-sauna05:before {
  content: "\e9f4";
}
.micon-wellness01:before {
  content: "\e9f5";
}
.micon-wellness02:before {
  content: "\e9f6";
}
.micon-wellness03:before {
  content: "\e9f7";
}
.micon-wellness04:before {
  content: "\e9f8";
}
.micon-wedding01:before {
  content: "\e9f9";
}
.micon-wedding02:before {
  content: "\e9fa";
}
.micon-wedding03:before {
  content: "\e9fb";
}
.micon-wedding04:before {
  content: "\e9fc";
}
.micon-wedding05:before {
  content: "\e9fd";
}
.micon-water01:before {
  content: "\e9fe";
}
.micon-water02:before {
  content: "\e9ff";
}
.micon-water03:before {
  content: "\ea00";
}
.micon-water04:before {
  content: "\ea01";
}
.micon-water05:before {
  content: "\ea02";
}
.micon-water06:before {
  content: "\ea03";
}
.micon-water07:before {
  content: "\ea04";
}
.micon-water08:before {
  content: "\ea05";
}
.micon-washing01:before {
  content: "\ea06";
}
.micon-washing02:before {
  content: "\ea07";
}
.micon-washing03:before {
  content: "\ea08";
}
.micon-washing04:before {
  content: "\ea09";
}
.micon-tickets01:before {
  content: "\ea0a";
}
.micon-tickets02:before {
  content: "\ea0b";
}
.micon-tickets03:before {
  content: "\ea0c";
}
.micon-tickets04:before {
  content: "\ea0d";
}
.micon-tickets05:before {
  content: "\ea0e";
}
.micon-tennis01:before {
  content: "\ea0f";
}
.micon-tennis02:before {
  content: "\ea10";
}
.micon-tennis03:before {
  content: "\ea11";
}
.micon-tennis04:before {
  content: "\ea12";
}
.micon-tennis05:before {
  content: "\ea13";
}
.micon-tennis06:before {
  content: "\ea14";
}
.micon-shopping01:before {
  content: "\ea15";
}
.micon-shopping02:before {
  content: "\ea16";
}
.micon-shopping03:before {
  content: "\ea17";
}
.micon-shopping04:before {
  content: "\ea18";
}
.micon-shopping05:before {
  content: "\ea19";
}
.micon-secure01:before {
  content: "\ea1a";
}
.micon-secure02:before {
  content: "\ea1b";
}
.micon-secure03:before {
  content: "\ea1c";
}
.micon-secure04:before {
  content: "\ea1d";
}
.micon-secure05:before {
  content: "\ea1e";
}
.micon-secure06:before {
  content: "\ea1f";
}
.micon-route01:before {
  content: "\ea20";
}
.micon-route02:before {
  content: "\ea21";
}
.micon-route03:before {
  content: "\ea22";
}
.micon-route04:before {
  content: "\ea23";
}
.micon-route05:before {
  content: "\ea24";
}
.micon-route06:before {
  content: "\ea25";
}
.micon-route07:before {
  content: "\ea26";
}
.micon-reception-bell01:before {
  content: "\ea27";
}
.micon-reception-bell02:before {
  content: "\ea28";
}
.micon-reception-bell03:before {
  content: "\ea29";
}
.micon-reception-bell04:before {
  content: "\ea2a";
}
.micon-reception01:before {
  content: "\ea2b";
}
.micon-reception02:before {
  content: "\ea2c";
}
.micon-reception03:before {
  content: "\ea2d";
}
.micon-pool01:before {
  content: "\ea2e";
}
.micon-pool02:before {
  content: "\ea2f";
}
.micon-pool03:before {
  content: "\ea30";
}
.micon-pool04:before {
  content: "\ea31";
}
.micon-pool05:before {
  content: "\ea32";
}
.micon-pool06:before {
  content: "\ea33";
}
.micon-pool07:before {
  content: "\ea34";
}
.micon-pool08:before {
  content: "\ea35";
}
.micon-pool09:before {
  content: "\eb00";
}
.micon-no-pets01:before {
  content: "\ea36";
}
.micon-no-pets02:before {
  content: "\ea37";
}
.micon-no-pets03:before {
  content: "\ea38";
}
.micon-no-pets04:before {
  content: "\ea39";
}
.micon-pets01:before {
  content: "\ea3a";
}
.micon-pets02:before {
  content: "\ea3b";
}
.micon-pets03:before {
  content: "\ea3c";
}
.micon-pets04:before {
  content: "\ea3d";
}
.micon-pets05:before {
  content: "\ea3e";
}
.micon-pets06:before {
  content: "\ea3f";
}
.micon-pets07:before {
  content: "\ea40";
}
.micon-pets08:before {
  content: "\ea41";
}
.micon-personal01:before {
  content: "\ea42";
}
.micon-personal02:before {
  content: "\ea43";
}
.micon-personal03:before {
  content: "\ea44";
}
.micon-parking01:before {
  content: "\ea45";
}
.micon-parking02:before {
  content: "\ea46";
}
.micon-parking03:before {
  content: "\ea47";
}
.micon-parking04:before {
  content: "\ea48";
}
.micon-parking05:before {
  content: "\ea49";
}
.micon-parking06:before {
  content: "\ea4a";
}
.micon-parking07:before {
  content: "\ea4b";
}
.micon-parking08:before {
  content: "\ea4c";
}
.micon-parking09:before {
  content: "\ea4d";
}
.micon-parking10:before {
  content: "\ea4e";
}
.micon-parking11:before {
  content: "\ea4f";
}
.micon-online01:before {
  content: "\ea50";
}
.micon-online02:before {
  content: "\ea51";
}
.micon-online03:before {
  content: "\ea52";
}
.micon-online04:before {
  content: "\ea53";
}
.micon-no-cost01:before {
  content: "\ea54";
}
.micon-no-cost02:before {
  content: "\e901";
}
.micon-no-cost03:before {
  content: "\ea55";
}
.micon-no-cost04:before {
  content: "\e903";
}
.micon-meeting01:before {
  content: "\ea56";
}
.micon-meeting02:before {
  content: "\ea57";
}
.micon-meeting03:before {
  content: "\ea58";
}
.micon-meeting04:before {
  content: "\ea59";
}
.micon-meeting05:before {
  content: "\ea5a";
}
.micon-like01:before {
  content: "\ea5b";
}
.micon-like02:before {
  content: "\ea5c";
}
.micon-like03:before {
  content: "\ea5d";
}
.micon-gym01:before {
  content: "\ea5e";
}
.micon-gym02:before {
  content: "\ea5f";
}
.micon-gym03:before {
  content: "\ea60";
}
.micon-gym04:before {
  content: "\ea61";
}
.micon-gym05:before {
  content: "\ea62";
}
.micon-gym06:before {
  content: "\ea63";
}
.micon-gym07:before {
  content: "\ea64";
}
.micon-gym08:before {
  content: "\ea65";
}
.micon-gym09:before {
  content: "\ea66";
}
.micon-gift01:before {
  content: "\ea67";
}
.micon-gift02:before {
  content: "\ea68";
}
.micon-gift03:before {
  content: "\ea69";
}
.micon-gift04:before {
  content: "\ea6a";
}
.micon-gift05:before {
  content: "\ea6b";
}
.micon-elevator01:before {
  content: "\ea6c";
}
.micon-elevator02:before {
  content: "\ea6d";
}
.micon-elevator03:before {
  content: "\ea6e";
}
.micon-elevator04:before {
  content: "\ea6f";
}
.micon-elevator05:before {
  content: "\ea70";
}
.micon-elevator06:before {
  content: "\ea71";
}
.micon-elevator07:before {
  content: "\ea72";
}
.micon-discount01:before {
  content: "\ea73";
}
.micon-discount02:before {
  content: "\ea74";
}
.micon-discount03:before {
  content: "\ea75";
}
.micon-discount04:before {
  content: "\ea76";
}
.micon-discount05:before {
  content: "\ea77";
}
.micon-discount06:before {
  content: "\ea78";
}
.micon-discount07:before {
  content: "\ea79";
}
.micon-discount08:before {
  content: "\ea7a";
}
.micon-disability01:before {
  content: "\ea7b";
}
.micon-disability02:before {
  content: "\ea7c";
}
.micon-disability03:before {
  content: "\ea7d";
}
.micon-disability04:before {
  content: "\ea7e";
}
.micon-payment01:before {
  content: "\ea7f";
}
.micon-payment02:before {
  content: "\ea80";
}
.micon-payment03:before {
  content: "\ea81";
}
.micon-payment04:before {
  content: "\ea82";
}
.micon-payment05:before {
  content: "\ea83";
}
.micon-payment06:before {
  content: "\ea84";
}
.micon-payment07:before {
  content: "\ea85";
}
.micon-payment08:before {
  content: "\ea86";
}
.micon-payment09:before {
  content: "\ea87";
}
.micon-cleaning01:before {
  content: "\ea88";
}
.micon-cleaning02:before {
  content: "\ea89";
}
.micon-cleaning03:before {
  content: "\ea8a";
}
.micon-cleaning04:before {
  content: "\ea8b";
}
.micon-cleaning05:before {
  content: "\ea8c";
}
.micon-cleaning06:before {
  content: "\ea8d";
}
.micon-baby01:before {
  content: "\ea8e";
}
.micon-baby02:before {
  content: "\ea8f";
}
.micon-child01:before {
  content: "\ea90";
}
.micon-child02:before {
  content: "\ea91";
}
.micon-checking01:before {
  content: "\ea92";
}
.micon-checking02:before {
  content: "\ea93";
}
.micon-checking03:before {
  content: "\ea94";
}
.micon-checking04:before {
  content: "\ea95";
}
.micon-checking05:before {
  content: "\ea96";
}
.micon-best-price01:before {
  content: "\ea97";
}
.micon-best-price02:before {
  content: "\ea98";
}
.micon-best-price03:before {
  content: "\ea99";
}
.micon-best-price04:before {
  content: "\ea9a";
}
.micon-best-price05:before {
  content: "\ea9b";
}
.micon-best-price06:before {
  content: "\ea9c";
}
.micon-best-price07:before {
  content: "\ea9d";
}
.micon-bed01:before {
  content: "\ea9e";
}
.micon-bed02:before {
  content: "\ea9f";
}
.micon-bed03:before {
  content: "\eaa0";
}
.micon-bed04:before {
  content: "\eaa1";
}
.micon-bed05:before {
  content: "\eaa2";
}
.micon-bed06:before {
  content: "\eaa3";
}
.micon-bunk-beds01:before {
  content: "\eaa4";
}
.micon-twin-beds01:before {
  content: "\eaa5";
}
.micon-beach01:before {
  content: "\eaa6";
}
.micon-beach02:before {
  content: "\eaa7";
}
.micon-beach03:before {
  content: "\eaa8";
}
.micon-beach04:before {
  content: "\eaa9";
}
.micon-beach05:before {
  content: "\eaaa";
}
.micon-beach06:before {
  content: "\eaab";
}
.micon-amenities01:before {
  content: "\eaac";
}
.micon-amenities02:before {
  content: "\eaad";
}
.micon-amenities03:before {
  content: "\eaae";
}
.micon-amenities04:before {
  content: "\eaaf";
}
.micon-amenities05:before {
  content: "\eab0";
}
.micon-amenities06:before {
  content: "\eab1";
}
.micon-all-inclusive01:before {
  content: "\eab2";
}
.micon-all-inclusive02:before {
  content: "\eab3";
}
.micon-all-inclusive03:before {
  content: "\eab4";
}
.micon-all-inclusive04:before {
  content: "\eab5";
}
.micon-all-inclusive05:before {
  content: "\eab6";
}
.micon-all-inclusive06:before {
  content: "\eab7";
}
.micon-air-conditioner01:before {
  content: "\eab8";
}
.micon-air-conditioner02:before {
  content: "\eab9";
}
.micon-air-conditioner03:before {
  content: "\eaba";
}
.micon-air-conditioner04:before {
  content: "\eabb";
}
.micon-air-conditioner05:before {
  content: "\eabc";
}
.micon-air-conditioner06:before {
  content: "\eabd";
}
.micon-air-conditioner07:before {
  content: "\eabe";
}
.micon-air-conditioner08:before {
  content: "\eabf";
}
.micon-key01:before {
  content: "\eac0";
}
.micon-key02:before {
  content: "\eac1";
}
.micon-key03:before {
  content: "\eac2";
}
.micon-key04:before {
  content: "\eac3";
}
.micon-key05:before {
  content: "\eac4";
}
.micon-key06:before {
  content: "\eac5";
}
.micon-key07:before {
  content: "\eac6";
}
.micon-key08:before {
  content: "\eac7";
}
.micon-key09:before {
  content: "\eac8";
}
.micon-key10:before {
  content: "\eac9";
}
.micon-key11:before {
  content: "\eaca";
}
.micon-restaurant01:before {
  content: "\eacb";
}
.micon-restaurant02:before {
  content: "\eacc";
}
.micon-restaurant03:before {
  content: "\eacd";
}
.micon-restaurant04:before {
  content: "\eace";
}
.micon-restaurant05:before {
  content: "\eacf";
}
.micon-restaurant06:before {
  content: "\ead0";
}
.micon-restaurant07:before {
  content: "\ead1";
}
.micon-restaurant08:before {
  content: "\ead2";
}
.micon-restaurant09:before {
  content: "\ead3";
}
.micon-breakfast01:before {
  content: "\ead4";
}
.micon-breakfast02:before {
  content: "\ead5";
}
.micon-breakfast03:before {
  content: "\ead6";
}
.micon-breakfast04:before {
  content: "\ead7";
}
.micon-breakfast05:before {
  content: "\ead8";
}
.micon-breakfast06:before {
  content: "\ead9";
}
.micon-coffee01:before {
  content: "\eada";
}
.micon-coffee02:before {
  content: "\eadb";
}
.micon-coffee03:before {
  content: "\eadc";
}
.micon-coffee04:before {
  content: "\eadd";
}
.micon-coffee05:before {
  content: "\eade";
}
.micon-coffee06:before {
  content: "\eadf";
}
.micon-coffee07:before {
  content: "\eae0";
}
.micon-coffee08:before {
  content: "\eae1";
}
.micon-terrace01:before {
  content: "\eae2";
}
.micon-terrace02:before {
  content: "\eae3";
}
.micon-terrace03:before {
  content: "\eae4";
}
.micon-terrace04:before {
  content: "\eae5";
}
.micon-pool-bar01:before {
  content: "\eae6";
}
.micon-pool-bar02:before {
  content: "\eae7";
}
.micon-beer01:before {
  content: "\eae8";
}
.micon-beer02:before {
  content: "\eae9";
}
.micon-champagne01:before {
  content: "\eaea";
}
.micon-champagne02:before {
  content: "\eaeb";
}
.micon-champagne03:before {
  content: "\eaec";
}
.micon-champagne04:before {
  content: "\eaed";
}
.micon-champagne05:before {
  content: "\eaee";
}
.micon-cocktail01:before {
  content: "\eaef";
}
.micon-cocktail02:before {
  content: "\eaf0";
}
.micon-cocktail03:before {
  content: "\eaf1";
}
.micon-cocktail04:before {
  content: "\eaf2";
}
.micon-cocktail05:before {
  content: "\eaf3";
}
.micon-cocktail06:before {
  content: "\eaf4";
}
.micon-cocktail07:before {
  content: "\eaf5";
}
.micon-cocktail08:before {
  content: "\eaf6";
}
.micon-bar01:before {
  content: "\eaf7";
}
.micon-bar02:before {
  content: "\eaf8";
}
.micon-bar03:before {
  content: "\eaf9";
}
.micon-bar04:before {
  content: "\eafa";
}
.micon-bar05:before {
  content: "\eafb";
}
.micon-plane01:before {
  content: "\e905";
}
.micon-plane02:before {
  content: "\e906";
}
.micon-plane03:before {
  content: "\e907";
}
.micon-plane04:before {
  content: "\e908";
}
.micon-plane05:before {
  content: "\e909";
}
.micon-plane06:before {
  content: "\e90a";
}
.micon-plane07:before {
  content: "\e90b";
}
.micon-plane08:before {
  content: "\e90c";
}
.micon-train01:before {
  content: "\e90d";
}
.micon-train02:before {
  content: "\e90e";
}
.micon-train03:before {
  content: "\e90f";
}
.micon-train04:before {
  content: "\e910";
}
.micon-train05:before {
  content: "\e911";
}
.micon-metro01:before {
  content: "\e912";
}
.micon-metro02:before {
  content: "\e913";
}
.micon-metro03:before {
  content: "\e914";
}
.micon-metro04:before {
  content: "\e915";
}
.micon-metro05:before {
  content: "\e916";
}
.micon-metro06:before {
  content: "\e917";
}
.micon-bus01:before {
  content: "\e918";
}
.micon-bus02:before {
  content: "\e919";
}
.micon-bus03:before {
  content: "\e91a";
}
.micon-bus04:before {
  content: "\e91b";
}
.micon-bus05:before {
  content: "\e91c";
}
.micon-bus06:before {
  content: "\e91d";
}
.micon-bus07:before {
  content: "\e91e";
}
.micon-bus08:before {
  content: "\e91f";
}
.micon-bus09:before {
  content: "\e920";
}
.micon-van01:before {
  content: "\e921";
}
.micon-van02:before {
  content: "\e922";
}
.micon-van03:before {
  content: "\e923";
}
.micon-van04:before {
  content: "\e924";
}
.micon-van05:before {
  content: "\e925";
}
.micon-van06:before {
  content: "\e926";
}
.micon-taxi01:before {
  content: "\e927";
}
.micon-taxi02:before {
  content: "\e928";
}
.micon-taxi03:before {
  content: "\e929";
}
.micon-taxi04:before {
  content: "\e92a";
}
.micon-taxi05:before {
  content: "\e92b";
}
.micon-rent-car01:before {
  content: "\e92c";
}
.micon-rent-car02:before {
  content: "\e92d";
}
.micon-rent-car03:before {
  content: "\e92e";
}
.micon-rent-car04:before {
  content: "\e92f";
}
.micon-car01:before {
  content: "\e930";
}
.micon-car02:before {
  content: "\e931";
}
.micon-car03:before {
  content: "\e932";
}
.micon-car04:before {
  content: "\e933";
}
.micon-car05:before {
  content: "\e934";
}
.micon-car06:before {
  content: "\e935";
}
.micon-car07:before {
  content: "\e936";
}
.micon-car08:before {
  content: "\e937";
}
.micon-car09:before {
  content: "\e938";
}
.micon-bike01:before {
  content: "\e939";
}
.micon-bike02:before {
  content: "\e93a";
}
.micon-bike03:before {
  content: "\e93b";
}
.micon-bike04:before {
  content: "\e93c";
}
.micon-bike05:before {
  content: "\e93d";
}
.micon-walking01:before {
  content: "\e900";
}
.micon-walking02:before {
  content: "\e902";
}
.micon-walking03:before {
  content: "\eafc";
}
.micon-walking04:before {
  content: "\e904";
}
.micon-walking05:before {
  content: "\e93e";
}
.micon-video01:before {
  content: "\e93f";
}
.micon-video02:before {
  content: "\e940";
}
.micon-video03:before {
  content: "\e941";
}
.micon-video04:before {
  content: "\e942";
}
.micon-video05:before {
  content: "\e943";
}
.micon-video06:before {
  content: "\e944";
}
.micon-video07:before {
  content: "\e945";
}
.micon-play01:before {
  content: "\e946";
}
.micon-play02:before {
  content: "\e947";
}
.micon-play03:before {
  content: "\e948";
}
.micon-shopping-cart01:before {
  content: "\e949";
}
.micon-shopping-cart02:before {
  content: "\e94a";
}
.micon-shopping-cart03:before {
  content: "\e94b";
}
.micon-shopping-cart04:before {
  content: "\e94c";
}
.micon-shopping-cart05:before {
  content: "\e94d";
}
.micon-pdf01:before {
  content: "\e94e";
}
.micon-pdf02:before {
  content: "\e94f";
}
.micon-pdf03:before {
  content: "\e950";
}
.micon-pdf04:before {
  content: "\e951";
}
.micon-pdf05:before {
  content: "\e952";
}
.micon-pdf06:before {
  content: "\e953";
}
.micon-download01:before {
  content: "\e954";
}
.micon-download02:before {
  content: "\e955";
}
.micon-download03:before {
  content: "\e956";
}
.micon-download04:before {
  content: "\e957";
}
.micon-download05:before {
  content: "\e958";
}
.micon-minus01:before {
  content: "\e959";
}
.micon-minus02:before {
  content: "\e95a";
}
.micon-plus01:before {
  content: "\e95b";
}
.micon-plus02:before {
  content: "\e95c";
}
.micon-close01:before {
  content: "\e95d";
}
.micon-close02:before {
  content: "\e95e";
}
.micon-close03:before {
  content: "\e95f";
}
.micon-close04:before {
  content: "\e960";
}
.micon-arrow01-d:before {
  content: "\e961";
}
.micon-arrow01-l:before {
  content: "\e962";
}
.micon-arrow01-r:before {
  content: "\e963";
}
.micon-arrow01-u:before {
  content: "\e964";
}
.micon-arrow02-d:before {
  content: "\e965";
}
.micon-arrow02-l:before {
  content: "\e966";
}
.micon-arrow02-r:before {
  content: "\e967";
}
.micon-arrow02-u:before {
  content: "\e968";
}
.micon-arrow03-d:before {
  content: "\e969";
}
.micon-arrow03-l:before {
  content: "\e96a";
}
.micon-arrow03-r:before {
  content: "\e96b";
}
.micon-arrow03-u:before {
  content: "\e96c";
}
.micon-arrow04-d:before {
  content: "\e96d";
}
.micon-arrow04-l:before {
  content: "\e96e";
}
.micon-arrow04-r:before {
  content: "\e96f";
}
.micon-arrow04-u:before {
  content: "\e970";
}
.micon-arrow05-d:before {
  content: "\e971";
}
.micon-arrow05-l:before {
  content: "\e972";
}
.micon-arrow05-r:before {
  content: "\e973";
}
.micon-arrow05-u:before {
  content: "\e974";
}
.micon-arrow06-d:before {
  content: "\e975";
}
.micon-arrow06-l:before {
  content: "\e976";
}
.micon-arrow06-r:before {
  content: "\e977";
}
.micon-arrow06-u:before {
  content: "\e978";
}
.micon-adult-children01:before {
  content: "\eafd";
}
.micon-adult01:before {
  content: "\eafe";
}
.micon-trash01:before {
  content: "\eaff";
}
.micon-tripadvisor01:before {
  content: "\e979";
}
.micon-tripadvisor02:before {
  content: "\e97a";
}
.micon-info01:before {
  content: "\e97b";
}
.micon-info02:before {
  content: "\e97c";
}
.micon-info03:before {
  content: "\e97d";
}
.micon-info04:before {
  content: "\e97e";
}
.micon-info05:before {
  content: "\e97f";
}
.micon-info06:before {
  content: "\e980";
}
.micon-info07:before {
  content: "\e981";
}
.micon-info08:before {
  content: "\e982";
}
.micon-check01:before {
  content: "\e983";
}
.micon-check02:before {
  content: "\e984";
}
.micon-check03:before {
  content: "\e985";
}
.micon-check04:before {
  content: "\e986";
}
.micon-check05:before {
  content: "\e987";
}
.micon-check06:before {
  content: "\e988";
}
.micon-check07:before {
  content: "\e989";
}
.micon-check08:before {
  content: "\e98a";
}
.micon-check09:before {
  content: "\e98b";
}
.micon-check10:before {
  content: "\e98c";
}
.micon-locked01:before {
  content: "\e98d";
}
.micon-locked02:before {
  content: "\e98e";
}
.micon-locked03:before {
  content: "\e98f";
}
.micon-locked04:before {
  content: "\e990";
}
.micon-locked05:before {
  content: "\e991";
}
.micon-locked06:before {
  content: "\e992";
}
.micon-locked07:before {
  content: "\e993";
}
.micon-locked08:before {
  content: "\e994";
}
.micon-star01:before {
  content: "\e995";
}
.micon-star02:before {
  content: "\e996";
}
.micon-star03:before {
  content: "\e997";
}
.micon-star04:before {
  content: "\e998";
}
.micon-star05:before {
  content: "\e999";
}
.micon-star06:before {
  content: "\e99a";
}
.micon-camera01:before {
  content: "\e99b";
}
.micon-camera02:before {
  content: "\e99c";
}
.micon-camera03:before {
  content: "\e99d";
}
.micon-camera04:before {
  content: "\e99e";
}
.micon-camera05:before {
  content: "\e99f";
}
.micon-camera06:before {
  content: "\e9a0";
}
.micon-language01:before {
  content: "\e9a1";
}
.micon-language02:before {
  content: "\e9a2";
}
.micon-language03:before {
  content: "\e9a3";
}
.micon-language04:before {
  content: "\e9a4";
}
.micon-language05:before {
  content: "\e9a5";
}
.micon-language06:before {
  content: "\e9a6";
}
.micon-language07:before {
  content: "\e9a7";
}
.micon-language08:before {
  content: "\e9a8";
}
.micon-location01:before {
  content: "\e9a9";
}
.micon-location02:before {
  content: "\e9aa";
}
.micon-location03:before {
  content: "\e9ab";
}
.micon-location04:before {
  content: "\e9ac";
}
.micon-location05:before {
  content: "\e9ad";
}
.micon-location06:before {
  content: "\e9ae";
}
.micon-location07:before {
  content: "\e9af";
}
.micon-location08:before {
  content: "\e9b0";
}
.micon-location09:before {
  content: "\e9b1";
}
.micon-phone01:before {
  content: "\e9b2";
}
.micon-phone02:before {
  content: "\e9b3";
}
.micon-phone03:before {
  content: "\e9b4";
}
.micon-phone04:before {
  content: "\e9b5";
}
.micon-phone05:before {
  content: "\e9b6";
}
.micon-phone06:before {
  content: "\e9b7";
}
.micon-phone07:before {
  content: "\e9b8";
}
.micon-fax01:before {
  content: "\e9b9";
}
.micon-fax02:before {
  content: "\e9ba";
}
.micon-fax03:before {
  content: "\e9bb";
}
.micon-fax04:before {
  content: "\e9bc";
}
.micon-fax05:before {
  content: "\e9bd";
}
.micon-fax06:before {
  content: "\e9be";
}
.micon-email01:before {
  content: "\e9bf";
}
.micon-email02:before {
  content: "\e9c0";
}
.micon-email03:before {
  content: "\e9c1";
}
.micon-email04:before {
  content: "\e9c2";
}
.micon-email05:before {
  content: "\e9c3";
}
.micon-email06:before {
  content: "\e9c4";
}
.micon-hours01:before {
  content: "\e9c5";
}
.micon-hours02:before {
  content: "\e9c6";
}
.micon-hours03:before {
  content: "\e9c7";
}
.micon-hours04:before {
  content: "\e9c8";
}
.micon-hours05:before {
  content: "\e9c9";
}
.micon-hours06:before {
  content: "\e9ca";
}
.micon-early01:before {
  content: "\e9cb";
}
.micon-early02:before {
  content: "\e9cc";
}
.micon-early03:before {
  content: "\e9cd";
}
.micon-early04:before {
  content: "\e9ce";
}
.micon-early05:before {
  content: "\e9cf";
}
.micon-late01:before {
  content: "\e9d0";
}
.micon-late02:before {
  content: "\e9d1";
}
.micon-late03:before {
  content: "\e9d2";
}
.micon-late04:before {
  content: "\e9d3";
}
.micon-clock01:before {
  content: "\e9d4";
}
.micon-clock02:before {
  content: "\e9d5";
}
.micon-clock03:before {
  content: "\e9d6";
}
.micon-clock04:before {
  content: "\e9d7";
}
.micon-clock05:before {
  content: "\e9d8";
}
.micon-clock06:before {
  content: "\e9d9";
}
.micon-clock07:before {
  content: "\e9da";
}
.micon-clock08:before {
  content: "\e9db";
}
.micon-cancel03:before {
  content: "\e9dc";
}
.micon-cancel01:before {
  content: "\e9dd";
}
.micon-cancel02:before {
  content: "\e9de";
}
.micon-calendar01:before {
  content: "\e9e2";
}
.micon-calendar02:before {
  content: "\e9df";
}
.micon-calendar03:before {
  content: "\e9e0";
}
.micon-calendar04:before {
  content: "\e9e1";
}
.micon-oldfont47:before {
  content: "\103";
}
.micon-oldfont46:before {
  content: "\102";
}
.micon-oldfont45:before {
  content: "\101";
}
.micon-oldfont44:before {
  content: "\104";
}
.micon-oldfont43:before {
  content: "\201";
}
.micon-oldfont42:before {
  content: "\202";
}
.micon-oldfont41:before {
  content: "\203";
}
.micon-oldfont40:before {
  content: "\204";
}
.micon-oldfont39:before {
  content: "\205";
}
.micon-oldfont38:before {
  content: "\206";
}
.micon-oldfont37:before {
  content: "\207";
}
.micon-oldfont36:before {
  content: "\208";
}
.micon-oldfont35:before {
  content: "\209";
}
.micon-oldfont34:before {
  content: "\210";
}
.micon-oldfont33:before {
  content: "\211";
}
.micon-oldfont32:before {
  content: "\212";
}
.micon-oldfont31:before {
  content: "\213";
}
.micon-oldfont30:before {
  content: "\214";
}
.micon-oldfont29:before {
  content: "\215";
}
.micon-oldfont28:before {
  content: "\216";
}
.micon-oldfont27:before {
  content: "\301";
}
.micon-oldfont26:before {
  content: "\302";
}
.micon-oldfont25:before {
  content: "\303";
}
.micon-oldfont24:before {
  content: "\304";
}
.micon-oldfont23:before {
  content: "\305";
}
.micon-oldfont22:before {
  content: "\306";
}
.micon-oldfont21:before {
  content: "\307";
}
.micon-oldfont20:before {
  content: "\308";
}
.micon-oldfont19:before {
  content: "\309";
}
.micon-oldfont18:before {
  content: "\310";
}
.micon-oldfont17:before {
  content: "\311";
}
.micon-oldfont16:before {
  content: "\312";
}
.micon-oldfont15:before {
  content: "\313";
}
.micon-oldfont14:before {
  content: "\314";
}
.micon-oldfont13:before {
  content: "\315";
}
.micon-oldfont12:before {
  content: "\316";
}
.micon-oldfont11:before {
  content: "\317";
}
.micon-oldfont10:before {
  content: "\401";
}
.micon-oldfont09:before {
  content: "\402";
}
.micon-oldfont08:before {
  content: "\403";
}
.micon-oldfont07:before {
  content: "\404";
}
.micon-oldfont06:before {
  content: "\405";
}
.micon-oldfont05:before {
  content: "\501";
}
.micon-oldfont04:before {
  content: "\502";
}
.micon-oldfont03:before {
  content: "\503";
}
.micon-oldfont02:before {
  content: "\504";
}
.micon-oldfont01:before {
  content: "\505";
}
.micon-monkey:before {
  content: "\999";
}
