@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lid547');
  src:  url('fonts/icomoon.eot?lid547#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lid547') format('truetype'),
    url('fonts/icomoon.woff?lid547') format('woff'),
    url('fonts/icomoon.svg?lid547#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-puerto-morelos:before {
  content: "\e900";
}
.icon-avemay-font-01:before {
  content: "\e901";
}
.icon-avemay-font-02:before {
  content: "\e902";
}
.icon-avemay-font-03:before {
  content: "\e903";
}
.icon-avemay-font-04:before {
  content: "\e904";
}
.icon-avemay-font-05:before {
  content: "\e905";
}
.icon-avemay-font-06:before {
  content: "\e906";
}
.icon-avemay-font-07:before {
  content: "\e907";
}
.icon-avemay-font-08:before {
  content: "\e908";
}
.icon-avemay-font-09:before {
  content: "\e909";
}
.icon-avemay-font-10:before {
  content: "\e90a";
}
.icon-avemay-font-11:before {
  content: "\e90b";
}
.icon-avemay-font-12:before {
  content: "\e90c";
}
.icon-avemay-font-13:before {
  content: "\e90d";
}
.icon-avemay-font-14:before {
  content: "\e90e";
}
.icon-avemay-font-15:before {
  content: "\e90f";
}
.icon-avemay-font-16:before {
  content: "\e910";
}
.icon-avemay-font-17:before {
  content: "\e911";
}
.icon-avemay-font-18:before {
  content: "\e912";
}
.icon-avemay-font-19:before {
  content: "\e913";
}
.icon-avemay-font-20:before {
  content: "\e914";
}
.icon-avemay-font-21:before {
  content: "\e915";
}
.icon-avemay-font-22:before {
  content: "\e916";
}
.icon-avemay-font-23:before {
  content: "\e917";
}
.icon-avemay-font-24:before {
  content: "\e918";
}
.icon-avemay-font-25:before {
  content: "\e919";
}
.icon-avemay-font-26:before {
  content: "\e91a";
}
.icon-avemay-font-27:before {
  content: "\e91b";
}
.icon-avemay-font-28:before {
  content: "\e91c";
}
.icon-avemay-font-29:before {
  content: "\e91d";
}
.icon-avemay-font-30:before {
  content: "\e91e";
}
.icon-avemay-font-31:before {
  content: "\e91f";
}
.icon-avemay-font-32:before {
  content: "\e920";
}
.icon-avemay-font-33:before {
  content: "\e921";
}
.icon-avemay-font-34:before {
  content: "\e922";
}
.icon-avemay-font-35:before {
  content: "\e923";
}
.icon-avemay-font-36:before {
  content: "\e924";
}
.icon-avemay-font-37:before {
  content: "\e925";
}
.icon-avemay-font-38:before {
  content: "\e926";
}
.icon-avemay-font-39:before {
  content: "\e927";
}
.icon-avemay-font-40:before {
  content: "\e928";
}
.icon-avemay-font-41:before {
  content: "\e929";
}
.icon-avemay-font-42:before {
  content: "\e92a";
}
.icon-avemay-font-43:before {
  content: "\e92b";
}
.icon-avemay-font-44:before {
  content: "\e92c";
}
.icon-avemay-font-45:before {
  content: "\e92d";
}
.icon-avemay-font-46:before {
  content: "\e92e";
}
.icon-avemay-font-47:before {
  content: "\e92f";
}
.icon-avemay-font-48:before {
  content: "\e930";
}
.icon-avemay-font-49:before {
  content: "\e931";
}
.icon-avemay-font-50:before {
  content: "\e932";
}
.icon-avemay-font-51:before {
  content: "\e933";
}
.icon-avemay-font-52:before {
  content: "\e934";
}
.icon-avemay-font-53:before {
  content: "\e935";
}
.icon-avemay-font-54:before {
  content: "\e936";
}
.icon-avemay-font-55:before {
  content: "\e937";
}
.icon-avemay-font-56:before {
  content: "\e938";
}
.icon-avemay-font-57:before {
  content: "\e939";
}
.icon-avemay-font-58:before {
  content: "\e93a";
}
.icon-avemay-font-59:before {
  content: "\e93b";
}
.icon-avemay-font-60:before {
  content: "\e93c";
}
.icon-avemay-font-61:before {
  content: "\e93d";
}
.icon-avemay-font-62:before {
  content: "\e93e";
}
.icon-avemay-font-63:before {
  content: "\e93f";
}
.icon-avemay-font-64:before {
  content: "\e940";
}
.icon-avemay-font-65:before {
  content: "\e941";
}
.icon-avemay-font-66:before {
  content: "\e942";
}
.icon-avemay-font-67:before {
  content: "\e943";
}
.icon-avemay-font-68:before {
  content: "\e944";
}
.icon-avemay-font-69:before {
  content: "\e945";
}
.icon-avemay-font-70:before {
  content: "\e946";
}
.icon-avemay-font-71:before {
  content: "\e947";
}
.icon-avemay-font-72:before {
  content: "\e948";
}
.icon-avemay-font-73:before {
  content: "\e949";
}
.icon-avemay-font-74:before {
  content: "\e94a";
}
.icon-avemay-font-75:before {
  content: "\e94b";
}
.icon-avemay-font-76:before {
  content: "\e94c";
}
.icon-avemay-font-77:before {
  content: "\e94d";
}
.icon-avemay-font-78:before {
  content: "\e94e";
}
.icon-avemay-font-79:before {
  content: "\e94f";
}
.icon-avemay-font-80:before {
  content: "\e950";
}
.icon-avemay-font-81:before {
  content: "\e951";
}
.icon-avemay-font-82:before {
  content: "\e952";
}
.icon-avemay-font-83:before {
  content: "\e953";
}
.icon-avemay-font-84:before {
  content: "\e954";
}
.icon-avemay-font-85:before {
  content: "\e955";
}
.icon-avemay-font-86:before {
  content: "\e956";
}
.icon-avemay-font-87:before {
  content: "\e957";
}
.icon-avemay-font-88:before {
  content: "\e958";
}
.icon-avemay-font-89:before {
  content: "\e959";
}
.icon-avemay-font-90:before {
  content: "\e95a";
}
.icon-avemay-font-91:before {
  content: "\e95b";
}
.icon-avemay-font-92:before {
  content: "\e95c";
}
